.app {
  text-align: center;
}

.app-header {
  background-color: #222;
  padding: 5px;
  color: white;
}

.app-title {
  font-size: 1.1em;
}

.app-intro {
  font-size: large;
}

.error{
  color:red;
  padding:10px;
}
